
a.button {
  display: inline-block;
  background: white;
  color: black;
  padding: 13px;
  border-radius: 100px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 140px;
  margin: 1 auto;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.75s ease;
}


div {
  margin: 24px;
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  color: white;
}
body {
  background-color: #111;
}
a.telegram {
  display: inline-block;
  background: #2299d4;
  color: white;
  padding: 13px;
  border-radius: 100px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 140px;
  margin: 1 auto;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.5s ease;
}

div.tg {
  position: absolute;
  right: 0px;
  top: 50px;
}
div.git {
  position: absolute;
  right: 0px;
  top: 120px;
}
a.GitHub {
  display: inline-block;
  background: darkslategrey;
  color: white;
  padding: 13px;
  border-radius: 100px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 140px;
  margin: 1 auto;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.5s ease;
}
a:hover {
  background-color: black;
  color: white;
}
::selection {
  background-color: black;
  color: white
}
a.GitHub:hover{
  background-color: black;
  color: white;
}
a.telegram:hover{
  background: black;
}
