a.button {
  display: inline-block;
  background: white;
  color: black;
  padding: 13px;
  border-radius: 100px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 140px;
  margin: 1 auto;
}
a:hover {
  background-color: purple;
}

div {
  margin: 24px;
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  color: white;
}
body {
  background-color: #282c34;
}
a.telegram {
  display: inline-block;
  background: #188194;
  color: black;
  padding: 13px;
  border-radius: 100px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 140px;
  margin: 1 auto;
}

div.tg {
  position: absolute;
  right: 0px;
  top: 50px;
}
div.git {
  position: absolute;
  right: 0px;
  top: 120px;
}
a.GitHub {
  display: inline-block;
  background: gray;
  color: black;
  padding: 13px;
  border-radius: 100px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 140px;
  margin: 1 auto;
}
a:hover {
  background-color: black;
  color: white;
}
