.bebebe{
  display: inline;
  background: rgba(87, 82, 82, 0.34);
  color: black;
  padding: 30px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 70px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}
.oioioi{
  display: inline;
  background: rgba(87, 82, 82, 0.34);
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}

.sisisi{
  display: inline;
  background: rgba(87, 82, 82, 0.34);
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}
.lalala{
  display: inline;
  background: rgba(87, 82, 82, 0.34);
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}

.jojojo{
  display: inline;
  background: rgba(87, 82, 82, 0.34);
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}

