body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
.First_1{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
}

.sekond_2{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.800);
}

.fff_3{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.470);
}

.tretii_3{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.400);
}
.chetvertii_4{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.320);
}
.pytii_5{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.160);
}
.obosraka{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
}

.bebebe{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.800);
}

.xyi{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.470);
}

.oioioi{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.400);
}
.siski{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.320);
}
.axaxax{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.160);
}
.sobaka{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
}

.koshka{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.800);
}

.buldog{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.470);
}

.obezyna{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.400);
}
.idite_vse{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.320);
}
.ggwp{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.160);
}
.ezmid{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.160);
}












































b {
  font-size: 20px;
}