body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
.First_1 {
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
}

.sekond_2 {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
}

.fff_3 {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.47);
}

.tretii_3 {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.4);
}
.chetvertii_4 {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.32);
}
.pytii_5 {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.16);
}
.obosraka {
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
}

.bebebe {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
}

.xyi {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.47);
}

.oioioi {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.4);
}
.siski {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.32);
}
.axaxax {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.16);
}
.sobaka {
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
}

.koshka {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
}

.buldog {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.47);
}

.obezyna {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.4);
}
.idite_vse {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.32);
}
.ggwp {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.16);
}
.ezmid {
  font-family: "Courier New", Courier, monospace;
  color: rgba(0, 0, 0, 0.16);
}

b {
  font-size: 20px;
}
