body {
  max-width: 724px;
  margin: 0 auto;
  padding: 20px;
}
.First_1 {

  color: rgb(0, 0, 0);
}

.sekond_2 {

  color: rgba(0, 0, 0, 0.8);
}

.fff_3 {

  color: rgba(0, 0, 0, 0.47);
}

.tretii_3 {

  color: rgba(0, 0, 0, 0.4);
}
.chetvertii_4 {

  color: rgba(0, 0, 0, 0.32);
}
.pytii_5 {

  color: rgba(0, 0, 0, 0.16);
}
.obosraka {

  color: rgb(0, 0, 0);
}

.bebebe {

  color: rgba(0, 0, 0, 0.8);
}

.xyi {

  color: rgba(0, 0, 0, 0.47);
}

.oioioi {

  color: rgba(0, 0, 0, 0.4);
}
.siski {

  color: rgba(0, 0, 0, 0.32);
}
.axaxax {

  color: rgba(0, 0, 0, 0.16);
}
.sobaka {

  color: rgb(0, 0, 0);
}

.koshka {

  color: rgba(0, 0, 0, 0.8);
}

.buldog {

  color: rgba(0, 0, 0, 0.47);
}

.obezyna {

  color: rgba(0, 0, 0, 0.4);
}
.idite_vse {

  color: rgba(0, 0, 0, 0.32);
}
.ggwp {

  color: rgba(0, 0, 0, 0.16);
}
.ezmid {

  color: rgba(0, 0, 0, 0.16);
}

b {
  font-size: 20px;
}
