h1{
  text-align: center;
}
.Formula_1{
  display: inline-block;
  background: #ffacac;
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 120px;
  margin: 1 auto;
}
div{
  text-align: center;
}
body{
padding-left: 40px;
padding-right: 100px;
}
p{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
b{
  color: #8b070b;
}
.Formula_2{
  display: inline-block;
  background: #ffacac;
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}
.Formula_3{
  display: inline-block;
  background: #ffacac;
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}
.Formula_4{
  display: inline-block;
  background: #ffacac;
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}
.Formula_5{
  display: inline-block;
  background: #ffacac;
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 160px;
  margin: 1 auto;
}
.Formula_6{
  display: inline-block;
  background: #ffacac;
  color: black;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  width: 300px;
  margin: 1 auto;
}